.list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 1rem 0;
}

.list li {
  margin: 0;
}

@media (min-width: 768px) {
  .list {
    padding: 0;
  }
}
